* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #000000;
}

@media (max-width: 768px) {

    .navbar {
        padding: 10px;
    }
    
    .image {
        margin-top: 150px;
        order: -1; 
        text-align: center;
        margin-bottom: 20px;
    }

    .header {
        padding: 10px 5%;
        
    }

    .image img {
        width: 80%;
        height: auto;
        border-radius: 50%;
    }

    .home {
        flex-direction: column; 
        align-items: center;
        padding: 100px 5% 30px;
    }

    .home-content {
        text-align: center; 
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .about {
        flex-direction: column;
        align-items: center;
        padding: 5% 30px;
    }
    body {
        overflow-x: hidden;
      }
    .about-img {
        margin-top:300px;
        text-align: center;
        margin-bottom: 20px;
    }

    .about-img img {

        width: 80%;
        height: auto;
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .about-text {
        text-align: center;
    }

    .projects {
        padding: 30px 5%; 
    }

    .project-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important; 
        gap: 10px;
        padding: 10px; 
    }

    .skills {
        padding: 30px 5%; 
    }

    .skill-icons {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .skills-content {
        grid-template-columns: 1fr;
    }

    .contact {
        padding: 30px 5%; 
    }
    
}

.absolute {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    transform: translate(-50%, -50%); 
    z-index: -1; 
}
.bg-shape1, .bg-shape2 {
    border-radius: 50%;
    filter: blur(90px);
    opacity: 0.5;
    z-index: -1; 
}

.justify-center {
    justify-content: center;
}

.bg-shape1 {
    width: 400px;
    height: 400px;
    background-color: rgb(30, 0, 255);
    animation: one 10s infinite;
}

.bg-shape2 {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 72, 173);
    animation: two 10s infinite;
}
.about {
    position: relative;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    gap: 50px;
    min-height: 100vh; 
}

.about-img img {
    width: 100%; 
    height: 100%;
    border-radius: 50%;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}

.about-text {
    max-width: 600px;
}

.about-text h2 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 20px;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}

.about-text p {
    font-size: 20px;
    line-height: 1.6;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}


@keyframes one {
    0% { transform: translate(-100px, -100px); }
    25% { transform: translate(-150px, 50px); }
    50% { transform: translate(50px, 150px); }
    75% { transform: translate(100px, 50px); }
    100% { transform: translate(-100px, -100px); }
}

@keyframes two {
    0% { transform: translate(100px, 100px); }
    25% { transform: translate(150px, -50px); }
    50% { transform: translate(-50px, -150px); }
    75% { transform: translate(-100px, -50px); }
    100% { transform: translate(100px, 100px); }
}

.opacity-50 {
    opacity: .5;
}

.bg-blur {
    filter: blur(90px);
}

.bg-primary {
    background-color: rgb(30, 0, 255);
}

.bg-teal {
    background-color: rgb(255, 72, 173);
}

.bg-purple {
    background-color: rgb(140, 0, 215);
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: background 0.3s ease; 
}



.logo {
    position: relative;
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
html {
    scroll-behavior: smooth;
}


.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: color 0.3s;
}

.navbar a.active {
    color: rgb(157, 106, 239);
    
}

.navbar a:hover {
    color: rgb(157, 106, 239);
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    display: inline-flex;
    align-items: center;
    padding: 30px 10% 0;
    gap: 50px;
}
.image img {
    width: 80%; 
    height: auto;
    border-radius: 50%;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content {
    max-width: 600px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: black;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    transition: .5s;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: black;
    color: white;
}

.btn-box {
    margin-top: 30px;
    display: inline-block;
    padding: 12px 28px;
    background: black;
    border: 1px solid black;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 400;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn-box:hover {
    background: transparent;
    color: black;

}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.projects {
    padding: 50px 10%;
    text-align: center;
}

.projects h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    opacity: 0;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
}

.project-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    max-width: 300px; 
    margin: 0 auto; 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    opacity: 0;
}

.project-card:nth-child(1) {
    animation-delay: 0.5s;
}

.project-card:nth-child(2) {
    animation-delay: 1s;
}

.project-card:nth-child(3) {
    animation-delay: 1.5s;
}

.project-card:nth-child(4) {
    animation-delay: 2s;
}
.project-card:nth-child(5) {
    animation-delay: 2.5s;
}
.project-card:nth-child(6) {
    animation-delay: 3s;
}

/* Continue as needed for more cards */



.project-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.project-category {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 20px; /* Makes the border round */
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.project-card h3 {
    font-size: 20px; /* Reduce the font size for thinner cards */
    margin-top: 15px;
    font-weight: 600;
}

.project-card p {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    text-align: justify;
}

.project-card:hover {
    transform: translateY(-10px) !important;
}

.project-card .btn-more {
    display: inline-block;
    padding: 8px 16px;
    background: black;
    border: 1px solid black;
    border-radius: 40px;
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 400;
    margin-top: 15px; /* Space above the button */
    transition: background 0.3s ease, color 0.3s ease;
}

.project-card .btn-more:hover {
    background: transparent;
    color: black;
}

/* Styles for Skills Section */
.skills {
    padding: 50px 10%; /* Add space from the edges of the page */
    color: #333;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
    opacity: 0;
}

.skills-category h3 {
    margin: 0; 
    text-align: center; 
}
.skills-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px; 

}

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}

.skill-item {
    text-align: center; 
}

.skill-item img {
    width: 80px; 
    height: 80px; 
    object-fit: contain; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.skill-item p {
    margin-top: 8px; 
    font-size: 14px; 
    color: #333; 
    
}

.skills h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: black;
    grid-column: 1 / -1;
}

/* Adjust styles for skills categories */
.skills-category {
    padding: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2); /* Translucent background for glassy effect */
    backdrop-filter: blur(10px); /* Glassy blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    color: #000000; /* Text color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    opacity: 0;
}

/* Ensure proper placement of items in a 2x2 grid */
.skills-category:nth-child(0) {
    grid-column: 1 / 2; /* Place in the first column of the first row */
    animation-delay: 0.5s;
}

.skills-category:nth-child(1) {
    grid-column: 2 / 3; /* Place in the second column of the first row */
    animation-delay: 1s;
}

.skills-category:nth-child(2) {
    grid-column: 1 / 2; /* Place in the first column of the second row */
    animation-delay: 1.5s;
}

.skills-category:nth-child(3) {
    grid-column: 2 / 3; /* Place in the second column of the second row */
    animation-delay: 2s;
}

.skills-category h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: black;
}

.skills-category p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    margin: 0;
}
/* Contact Section Styles */
.contact {
    padding: 50px 10%;
}

.contact h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.contact-content {
    max-width: 800px;
    margin: 0 auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    color: #000;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form button {
    padding: 12px 28px;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.contact-form button:hover {
    background: transparent;
    color: black;
    transform: translateY(-2px);
}

.contact-info {
    margin-top: 30px;
    text-align: center;
}

.contact-info p {
    margin: 10px 0;
    font-size: 16px;
}

.contact-info a {
    color: black;
    text-decoration: none;
}

.contact-info p a:hover {
    text-decoration: underline;
}